@import url('https://fonts.googleapis.com/css?family=Noto+Serif&display=swap');

.textCardtest{
    font-family: 'Noto Serif', serif;
    font-size: 18px;
}

.customcard{
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 30px;
}

.custominnercard{
    border-radius: 20px;
}

.custombutton{
    font-size: 38px;
}

.customheightbutton{
    height: 50px;
}